<!-- views/partials/header.ejs -->
<header>
  <h1>My Website</h1>
  <div class="ahmed">Ahmed Abdirizaak</div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user">User</a></li>
      <li><a href="/user/new">new user</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
</header>
